/*Laptop */
@media(max-width: 1200px){
	header, footer{
		background: #A3BFDB ;
	}
}

/*Small tablet */
@media(max-width: 979px){
	header, footer{
		background: #77BDD9;
	}
}

/*Tablet of Smartphone */
@media(max-width: 767px){
	header, footer{
		background: #459DBF;
	}
}

/*Smartphone */
@media(max-width: 480px){
	header, footer{
		background: #3285A6;
	}
}

/* */
